WOODSTYLE_DATABASE_URL=sqlite:///woodstyle.db
WOODSTYLE_SECRET_KEY=change-this-local-secret
WOODSTYLE_ACCESS_TOKEN_MINUTES=60
WOODSTYLE_REFRESH_TOKEN_DAYS=14
WOODSTYLE_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
