.venv/

woodstyle/frontend/node_modules/
woodstyle/frontend/dist/
woodstyle/frontend/.env

woodstyle/backend/__pycache__/
woodstyle/backend/**/__pycache__/
woodstyle/backend/.pytest_cache/
woodstyle/backend/.venv/
woodstyle/backend/*.py[cod]
woodstyle/backend/*.db
woodstyle/backend/media/*
woodstyle/backend/tests/*.db
